$primary_dark: hsl(221, 71%, 15%);
$primary_dark_hover: hsla(221, 71%, 15%, 0.75);
$primary_dark_fade: hsla(221, 71%, 15%, 0.55);
$secondary_dark: hsl(203, 85%, 27%);
$tertiary_dark: hsl(182, 14%, 49%);

$primary_light: hsl(41, 78%, 91%);
$primary_light_fade: hsla(41, 78%, 91%, 0.55);
$accent: hsl(30, 82%, 56%);

$primary_negative: hsl(341, 79%, 48%);
