@import '~modularscale-sass/stylesheets/modularscale';

$modularscale: (
    base: 1em,
    ratio: 1.5
);

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

li {
    list-style-type: none;
}

a {
    color: black;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

button {
    border: none;
    cursor: pointer;
}

.header {
    width: 100%;
    padding: 20px;
}

.logo {
    font-size: ms(2);
    text-transform: uppercase;
}

form {
    padding: 25px;
}

.form {
    background-color: lightcoral;
    
    input {
        padding: 8px;
        font-size: 16px;
        border: 0;
    }
    
    button {
        padding: 8px;
        font-size: 16px;
    }
}

.clocks {
    display: flex;
}

.clock {
    display: inline-block;
    margin: 5px;
    padding: 25px;
    background-color: lightseagreen;
    box-shadow: 0px 1px 5px hsla(0, 0%, 0%, 0.15);
    border-radius: 3px;

    * {
        text-align: center;
    }

    .time {
        display: inline-block;
        padding: 6px;

        div {
            padding: 3px;
        }
    }
}