@import '~modularscale-sass/stylesheets/modularscale';

$modularscale: (
    base: 1em,
    ratio: 1.5
);

@import './colours.scss';
@import './fonts.scss';

* {
    box-sizing: border-box;
    font-family: Space Grotesk;
    line-height: 1.61803398875; // golden ratio
}

body {
    margin: 0;
    // background-color: hsla(86, 34.4%, 88%, 1);
    background-color: $primary_dark;
}

li {
    list-style-type: none;
}

a {
    color: $primary_light;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
    color: $primary_light;
}

button {
    border: none;
    cursor: pointer;
    box-shadow: 1px 1px 1px hsla(0, 0%, 0%, 0.15);
}

button:hover {
    box-shadow: 1px 1px 1px hsla(0, 0%, 0%, 0.55);
}

.header {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 20px;

    .logo {
        font-size: ms(2);
        text-transform: uppercase;
        margin-right: auto;
    }

    a {
        margin: 0 5px;
    }

    button {
        background-color: transparent;
        color: $primary_light;
        font-size: ms(0);
        &:hover {
            border-bottom: 2px solid $primary_light;
        }
    }

    .signUp {
        border: 2px solid $primary_light;

        &:hover{
            // border-bottom: none;
            margin-bottom: 2px;
        }
    }

}

form {
    padding: 25px;
}

.form {
    // background-color: lightcoral;
    background-color: $secondary_dark;
    
    input {
        padding: 8px;
        font-size: ms(0);
        border: 0;
        box-shadow: 0px 1px 1px hsla(0, 0%, 0%, 0.15);
        margin-left: 6px;
    }

    input:first-of-type {
        margin-left: 0;
    }
    
    button {
        padding: 9px;
        font-size: ms(0);
        margin-left: 6px;
        background-color: $primary_light;
        color: $primary_dark;
    }
}

.clocks {
    display: flex;
}

.clock {
    display: inline-block;
    margin: 5px;
    padding: 45px 20px;
    // background-color: lightseagreen;

    // border-top: 8px solid $primary_light;
    background-color: $primary_light;
    box-shadow: 0px 1px 5px hsla(0, 0%, 0%, 0.15);
    // box-shadow: 0px 1px 5px $tertiary_dark;
    border-radius: 3px;

    * {
        text-align: center;
        color: $primary_dark;
    }

    .time {
        display: inline-block;
        padding: 6px;

        div {
            padding: 3px;
        }
    }
}