@import '~modularscale-sass/stylesheets/modularscale';

$modularscale: (
    base: 1em,
    ratio: 1.5
);

@import './colours.scss';
@import './fonts.scss';

* {
    box-sizing: border-box;
    font-family: "Space Grotesk", sans-serif;
    line-height: 1.61803398875; // golden ratio
}

body {
    margin: 0;
    // background-color: hsla(86, 34.4%, 88%, 1);
    background-color: $primary_dark;
}

li {
    list-style-type: none;
}

a {
    color: $primary_light;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
    color: $primary_light;
    font-weight: normal;
}

button {
    border: none;
    cursor: pointer;
}

$nav_height: 100px;

.header {
    display: flex;
    align-items: center;
    width: 100%;
    height: $nav_height;
    padding: 20px;

    .logo {
        font-size: ms(2);
        // text-transform: uppercase;
        margin-right: auto;
        div {
            font-family: "Arkipelago", sans-serif;
        }
    }

    a {
        margin: 0 5px;
    }

    button {
        background-color: transparent;
        color: $primary_light;
        font-size: ms(0);
        padding: 6px 8px;

        &:hover {
            border-bottom: 2px solid $primary_light;
        }
    }

    .signUp {
        border: 2px solid $primary_light;
        // transition: margin-bottom 2s ease;
        &:hover {
            margin-bottom: 2px;
            // color: $primary_dark;
            background-color: $primary_dark_fade;
        }
    }
}

.clocks {
    display: flex;
    justify-content: center;

    .clock, .clockPlaceholder {
        flex: 0 1 25%;
        margin: 5px;
        padding: 45px 20px;
        background-color: $primary_light;
        box-shadow: 0px 1px 5px hsla(0, 0%, 0%, 0.15);
        border-radius: 3px;

        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        input, button {
            flex: 0 1 100%;
            text-align: center;
            box-shadow: 0px 1px 1px hsla(0, 0%, 0%, 0.25);
        }

        button {
            margin-top: 8px;
            font-family: "Arkipelago", sans-serif;
            font-size: ms(1);
            transition: box-shadow 0.5s ease;

            color: $primary_light;
            background-color: $primary_dark;

            &:hover {
                box-shadow: 1px 1px 1px hsla(0, 0%, 0%, 0.55);
                margin-bottom: 0;

                // color: $primary_dark;
                background-color: $primary_dark_hover;
                // border-bottom: 0;
                // color: $primary_dark;
            }
        }

        button.secondary {
            background-color: transparent;
            color: $primary_dark_fade;
            font-size: ms(1);
            margin-top: 12px;
            padding: 12px 20px;
            box-shadow: none;
    
            &:hover {
                color: $primary_dark;
            }
        }

        .form {
            flex: 0 1 100%;
            display: flex;
            flex-wrap: wrap;

            input, button {
                margin-top: 6px;
            }

            input {
                background-color: hsla(0, 100%, 100%, 0.65);
                color: $primary_dark;
                font-size: ms(0);
                padding: 8px;
                border: 0;
    
                &::-webkit-datetime-edit,
                &::-webkit-clear-button,
                &::-webkit-inner-spin-button,
                &::-webkit-calendar-picker-indicator
                {
                    opacity: 1;
                }
    
                // &:first-of-type {
                //     margin-top: 0;
                // }
            }
        }

        .cta {
            flex: 0 1 100%;
            text-align: center;
        }
    }

    .clock {
        * {
            text-align: center;
            color: $primary_dark;
            flex: 0 1 100%;
        }

        .countdown {
            display: flex;
        }
    
        .time {
            flex: 0 1 25%;
            padding: 6px;
    
            div {
                padding: 3px;
                font-family: "Arkipelago", sans-serif;
                font-size: ms(1);
            }
        }
    }
    
    .clockPlaceholder {
        h1, h2 {
            font-family: "Arkipelago", sans-serif;
            text-align: center;
            color: $primary_dark;
        }

        h1 {
            flex: 0 1 100%;
        }
    }
}

.landing {
    height: calc(100vh - #{$nav_height});
    display: flex;
    align-items: center;

    .clocks {
        flex: 0 1 100%;
    }
}